$background: #b0b0b0;
$sector-height: 200px;
$sector-width: $sector-height;
$sector-horiz: 35px;
$sector-vertical: 30px;
$border-color: rgba(45, 45, 45, 0.89);

html, body {
  height: 100%;
  overflow: auto;
}

body {
  background-color: $background;
}

.container {
  text-align: center;
}

.circle {
  position: relative;
  background-color: $border-color;
  margin: 5% auto;
  height: 500px;
  width: 500px;
  border-radius: 50%;
}

.sector {
  height: $sector-height;
  width: $sector-width;
  position: absolute;
}

.red {

  left: $sector-horiz;
  top: $sector-vertical;
  background-color: darken(red, 15%);
  border-radius: 320px 0 0 0;
}

.blue {
  left: $sector-horiz;
  bottom: $sector-vertical;
  background-color: darken(blue, 15%);
  border-radius: 0 0 0 320px;
}

.yellow {
  right: $sector-horiz;
  top: $sector-vertical;
  background-color: #bdbd00;
  border-radius: 0 320px 0 0;
}

.green {
  right: $sector-horiz;
  bottom: $sector-vertical;
  background-color: green;
  border-radius: 0 0 320px 0;
}

.round {
  position: absolute;
  background-color: #d0d0d0;
  height: 270px;
  width: 270px;
  border-radius: 50%;
  border: 20px solid $border-color;
  left:0;
  right:0;
  top: 0;
  bottom: 0;
  margin:auto;
}
