$background: #b0b0b0;
$sector-height: 200px;
$sector-width: $sector-height;
$sector-horiz: 35px;
$sector-vertical: 30px;

html, body {
  height: 100%;
  overflow: auto;
}

body {
  background-color: $background;
}

.container {
  text-align: center;
}

.circle {
  position: relative;
  background-color: #4b4b4b;
  margin: 5% auto;
  height: 500px;
  width: 500px;
  border-radius: 50%;
}

.sector {
  height: $sector-height;
  width: $sector-width;
  background-color: azure;
}

.red {
  position: absolute;
  left: $sector-horiz;
  top: $sector-vertical;
  background-color: red;
  border-radius: 320px 0 0 0;
}

.blue {
  position: absolute;
  left: $sector-horiz;
  bottom: $sector-vertical;
  background-color: blue;
  border-radius: 0 0 0 320px;
}

.yellow {
  position: absolute;
  right: $sector-horiz;
  top: $sector-vertical;
  background-color: yellow;
  border-radius: 0 320px 0 0;
}

.green {
  position: absolute;
  right: $sector-horiz;
  bottom: $sector-vertical;
  background-color: green;
  border-radius: 0 0 320px 0;
}