$background: #b0b0b0;
html, body {
  height: 100%;
  overflow: auto;
}

body {
  background-color: $background;
}

.container {
  text-align: center;
}

.circle {
  background-color: aqua;
  margin: 5% auto;
  height: 500px;
  width: 500px;
  border-radius: 50%;
}